@page "/CuentasPorPagar"
@rendermode InteractiveServer
@inject NavigationManager navigation
@inject ComprasService comprasService
@inject ProveedoresService proveedoresService
@inject CuentasPorPagarService cuentasPorPagarService
@inject NotificationService notificationService

<PageTitle>Cuentas por Pagar</PageTitle>
<RadzenNotification/>
<div class="container">
	<div class="card shadow-lg">
		@*Header*@
		<div class="card-header">
			<h3><strong>Cuentas por Pagar</strong></h3>
			<div class="d-flex align-items-start">
				@* <div class="px-2">
					<button type="button" class="btn btn-outline-secondary" @onclick="Volver"><i class="bi bi-box-arrow-left" /> Volver</button>
				</div> *@
				<div class="container">
					<div class="row">
						<div class="col text-start">
							<button type="button" class="btn btn-outline-secondary" @onclick="Volver">
								<i class="bi bi-box-arrow-left"></i> Volver
							</button>
						</div>
						<div class="col text-end">
							<button type="button" class="btn btn-back-to-history" @onclick="IrAHistorial">
								<i class="bi bi-newspaper"></i> Historial
							</button>
						</div>
					</div>
				</div>

				@* <button type="button" class="btn btn-outline-primary" @onclick="IrACrear"><i class="bi bi-plus-circle" /> Crear</button> *@
			</div>
		</div>
		@*Body*@
		<div class="card-body">
			@if (loading)
			{
				<div class="d-flex justify-content-center">
					<div class="spinner-border text-info">
					</div>
				</div>
			}
			else if (cuentasPorPagar.Count == 0)
			{
				<h1 class="miMensaje"><i class="bi bi-exclamation-triangle" /> No hay cuentas por pagar pendientes</h1>
			}
			else
			{

				@*Fechas*@
				<div class="mb-3">
					<div class="row">
						<div class="col-3">
							<label class="form-label" for="desde"><strong>Desde:</strong></label>
							<InputDate id="desde" class="form-control" @bind-Value="desde"></InputDate>
						</div>
						<div class="col-3">
							<label class="form-label" for="hasta"><strong>Hasta:</strong></label>
							<InputDate id="hasta" class="form-control" @bind-Value="hasta"></InputDate>
						</div>
					</div>
				</div>

				@*Campos a Filtrar*@
				<div class="row align-items-center mb-3">
					<label class="form-label" for="filtro"><strong>Campo a Filtrar:</strong></label>
					<div class="col-3">
						<InputSelect id="filtro" class="form-select" @bind-Value="filtro">
							<option>Elige una opci&oacute;n</option>
							<option value="id">Id</option>
							<option value="responsable">Responsable</option>
							<option value="proveedor">Proveedor</option>
							<option value="compra">Monto de Compra</option>
							<option value="deuda">Deuda</option>
						</InputSelect>
					</div>

					@if (filtro != "deuda" && filtro != "compra")
					{
						<div class="col-4">
							<div class="row align-items-center">
								<div class="col-auto miFlecha">
									<p>→</p>
								</div>
								<div class="col">
									<div class="input-group">
										<InputText class="form-control" @bind-Value="valorFiltro" placeholder="Ingrese un dato para filtrar"></InputText>
										<button type="button" class="btn btn-outline-primary" @onclick="Buscar"><i class="bi bi-search" /></button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-3">
							<button type="button" class="btn btn-outline-secondary" @onclick="Restablecer"><i class="bi bi-arrow-clockwise" /> Restablecer</button>
						</div>
					}
					else
					{
						<div class="col-3">
							<div class="row align-items-center">
								<div class="col">
									<InputNumber id="inicial" class="form-control" @bind-Value="montoDesde" placeholder="Ingrese un dato para filtrar"></InputNumber>
								</div>
							</div>
						</div>
						<div class="col-auto miFlecha">
							<p>y</p>
						</div>
						<div class="col">
							<div class="row align-items-center">
								<div class="col-auto">
									<InputNumber id="final" class="form-control" @bind-Value="montoHasta"></InputNumber>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<button type="button" class="btn btn-outline-primary" @onclick="Buscar"><i class="bi bi-search" /></button>
						</div>
						<div class="col-3">
							<button type="button" class="btn btn-outline-secondary" @onclick="Restablecer"><i class="bi bi-arrow-clockwise" /> Restablecer</button>
						</div>
					}
				</div>

				<table class="table table-bordered miTabla">
					<thead>
						<tr>
							<th>CXPId</th>
							<th>Fecha de Compra</th>
							<th>Usuario Responsable</th>
							<th>Proveedor</th>
							<th>Cantidad Productos</th>
							<th>Total de Compra</th>
							<th>Deuda Inicial</th>
							<th>Deuda Pendiente</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var cuenta in cuentasPorPagar)
						{
							<tr>
								<td>@cuenta.CuentaPorPagarId</td>
								<td>@BuscarFechaCompra(cuenta.CompraId).ToShortDateString()</td>
								<td>@BuscarUsuarioResponsable(cuenta.CompraId)</td>
								<td>@BuscarProveedor(cuenta.CompraId)</td>
								<td>@BuscarCantidadProducto(cuenta.CompraId)</td>
								<td>@CalcularMontoTotal(cuenta.CompraId)</td>
								<td>@cuenta.DeudaInicial</td>
								<td>@cuenta.DeudaRestante</td>
								<td>
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-outline-info" @onclick="()=> IrADetalles(cuenta.CuentaPorPagarId)" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver detalles">
											<i class="bi bi-eye"></i>
										</button>

										<button type="button" class="btn btn-outline-success" @onclick="()=> IrAAbonar(cuenta.CuentaPorPagarId)" data-bs-toggle="tooltip" data-bs-placement="top" title="Abonar">
											<i class="bi bi-piggy-bank-fill"></i>
										</button>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			}
		</div>
		<div class="card-footer">
			<p><strong>Total de Cuentas por Pagar:</strong> @cuentasPorPagar.Count</p>
		</div>
	</div>
</div>

@code {
	public List<Compras> compras = new List<Compras>();
	public List<Proveedores> proveedores = new List<Proveedores>();
	public List<CuentasPorPagar> cuentasPorPagar = new List<CuentasPorPagar>();
	public string filtro { get; set; }
	public string valorFiltro { get; set; }
	public string mensaje { get; set; }
	public bool loading { get; set; } = true;
	public DateTime desde { get; set; } = DateTime.Today;
	public DateTime hasta { get; set; } = DateTime.Today;
	public decimal montoDesde { get; set; }
	public decimal montoHasta { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(500);
		compras = await comprasService.Listar(c => c.Eliminado == false);
		proveedores = await proveedoresService.Listar(p => p.Eliminado == false);
		cuentasPorPagar = await cuentasPorPagarService.Listar(p => p.Estado == "Pendiente");

		loading = false;

		if (compras.Count == 0)
			StateHasChanged();
	}

	public async Task Buscar()
	{
		if (desde > hasta)
		{
			var Mensaje = new NotificationMessage
				{
					Severity = NotificationSeverity.Error,
					Summary = "Error al filtrar",
					Detail = "La fecha inicial no puede ser mayor a la fecha final",
					Duration = 5_000
				};
			notificationService.Notify(Mensaje);

			return;
		}

		else if (filtro == null)
		{
			var Mensaje = new NotificationMessage
				{
					Severity = NotificationSeverity.Error,
					Summary = "Error al filtrar",
					Detail = "Debe elegir un método parar filtrar",
					Duration = 5_000
				};
			notificationService.Notify(Mensaje);

			return;
		}

		else if (valorFiltro == null && (montoDesde == 0 || montoHasta == 0))
		{
			var Mensaje = new NotificationMessage
				{
					Severity = NotificationSeverity.Error,
					Summary = "Error al filtrar",
					Detail = "Debe ingresar un dato",
					Duration = 5_000
				};
			notificationService.Notify(Mensaje);

			return;
		}

		List<CuentasPorPagar> listaFiltro = new List<CuentasPorPagar>();

		switch (filtro)
		{
			case "id":
				if (int.TryParse(valorFiltro, out int id))
				{
					var resultadoId = cuentasPorPagar.FirstOrDefault(c => c.CuentaPorPagarId == id);

					if (resultadoId != null)
					{
						var compra = compras.FirstOrDefault(c => c.CompraId == resultadoId.CompraId);

						if (compra != null &&
						(compra.FechaCreacion >= desde && compra.FechaCreacion <= hasta))
						{
							cuentasPorPagar.Clear();
							cuentasPorPagar.Add(resultadoId);
							VerificarMensajeFiltro(true);
						}
						else
							VerificarMensajeFiltro(false);
					}
					else
						VerificarMensajeFiltro(false);
				}
				else
				{
					var Mensaje = new NotificationMessage
						{
							Severity = NotificationSeverity.Error,
							Summary = "Error al filtrar",
							Detail = "El valor ingresado para CXPId no es válido",
							Duration = 5_000
						};
					notificationService.Notify(Mensaje);
					return;
				}
				break;

			case "responsable":
				var comprasUsuarioResponsable = compras
				.Where(c => c.UsuarioResponsable.ToLower().Contains(valorFiltro.ToLower()))
				.ToList();

				if (comprasUsuarioResponsable.Any())
				{
					var cuentasPorPagarUnicas = new HashSet<CuentasPorPagar>(); // Usamos un HashSet para evitar duplicados

					foreach (var compra in comprasUsuarioResponsable)
					{
						if (compra.FechaCreacion >= desde && compra.FechaCreacion <= hasta)
						{
							var cuentasPorPagarAsociadas = cuentasPorPagar
								.Where(cp => cp.CompraId == compra.CompraId)
								.ToList();

							// Agregar todas las cuentas por pagar asociadas al conjunto
							foreach (var cuentaPorPagar in cuentasPorPagarAsociadas)
							{
								cuentasPorPagarUnicas.Add(cuentaPorPagar);
							}
						}
					}

					// Limpiar la lista original y luego agregar los elementos únicos del conjunto
					cuentasPorPagar.Clear();
					cuentasPorPagar.AddRange(cuentasPorPagarUnicas);

					if (cuentasPorPagar.Any())
					{
						VerificarMensajeFiltro(true);
					}
					else
					{
						VerificarMensajeFiltro(false);
					}
				}
				else
					VerificarMensajeFiltro(false);
				break;

			case "proveedor":
				var resultadoProveedor = proveedores
				.FirstOrDefault(p => p.Representante.ToLower().Contains(valorFiltro.ToLower()));

				if (resultadoProveedor != null)
				{
					var proveedorId = resultadoProveedor.ProveedorId;

					var comprasProveedor = compras
						.Where(c => c.ProveedorId == proveedorId && c.FechaCreacion >= desde && c.FechaCreacion <= hasta)
						.ToList();

					if (comprasProveedor.Any())
					{
						// Obtener todas las cuentas por pagar asociadas a las compras del proveedor
						var cuentasPorPagarProveedor = cuentasPorPagar
							.Where(cp => comprasProveedor.Any(compra => compra.CompraId == cp.CompraId))
							.ToList();

						// Usamos un HashSet para evitar duplicados
						var cuentasPorPagarUnicas = new HashSet<CuentasPorPagar>(cuentasPorPagar);

						// Agregar todas las cuentas por pagar únicas asociadas a la lista general
						cuentasPorPagarUnicas.UnionWith(cuentasPorPagarProveedor);

						// Limpiar la lista original y luego agregar los elementos únicos del conjunto
						cuentasPorPagar.Clear();
						cuentasPorPagar.AddRange(cuentasPorPagarUnicas);

						VerificarMensajeFiltro(true);
					}
					else
					{
						VerificarMensajeFiltro(false);
					}
				}
				else
				{
					VerificarMensajeFiltro(false);
				}

				break;

			case "compra":
				var cuentasFiltradasCompra = cuentasPorPagar
				.Where(cp =>
				{
					var compra = compras.FirstOrDefault(c => c.CompraId == cp.CompraId);
					return compra != null &&
							compra.TotalNeto >= montoDesde && compra.TotalNeto <= montoHasta &&
							compra.FechaCreacion >= desde && compra.FechaCreacion <= hasta;
				})
				.ToList();

				if (cuentasFiltradasCompra.Any())
				{
					cuentasPorPagar.Clear();
					cuentasPorPagar.AddRange(cuentasFiltradasCompra);
					VerificarMensajeFiltro(true);
				}
				else
				{
					VerificarMensajeFiltro(false);
				}
				break;

			case "deuda":
				var cuentasFiltradas = cuentasPorPagar
				.Where(cp =>
				{
					var compra = compras.FirstOrDefault(c => c.CompraId == cp.CompraId);
					return compra != null &&
							compra.TotalNeto >= montoDesde && compra.TotalNeto <= montoHasta &&
							compra.FechaCreacion >= desde && compra.FechaCreacion <= hasta;
				})
				.ToList();

				if (cuentasFiltradas.Any())
				{
					cuentasPorPagar.Clear();
					cuentasPorPagar.AddRange(cuentasFiltradas);
					VerificarMensajeFiltro(true);
				}
				else
				{
					VerificarMensajeFiltro(false);
				}
				break;
		}
	}

	public void VerificarMensajeFiltro(bool valor)
	{
		if (valor)
		{
			var Mensaje = new NotificationMessage
				{
					Severity = NotificationSeverity.Success,
					Summary = "Éxito al filtrar",
					Detail = "Se encontraron resultados",
					Duration = 5_000
				};
			notificationService.Notify(Mensaje);
		}
		else
		{
			var Mensaje = new NotificationMessage
				{
					Severity = NotificationSeverity.Error,
					Summary = "Error al filtrar",
					Detail = "No se encontraron resultados",
					Duration = 5_000
				};
			notificationService.Notify(Mensaje);
		}
	}

	public DateTime BuscarFechaCompra(int id)
	{
		var compraId = cuentasPorPagar.FirstOrDefault(c => c.CompraId == id);
		var compra = compras.FirstOrDefault(c => c.CompraId == compraId.CompraId);
		return compra.FechaCreacion;
	}

	public string BuscarUsuarioResponsable(int id)
	{
		var compraId = cuentasPorPagar.FirstOrDefault(c => c.CompraId == id);
		var compra = compras.FirstOrDefault(c => c.CompraId == compraId.CompraId);
		return compra.UsuarioResponsable;
	}

	public string BuscarProveedor(int id)
	{
		var compraId = cuentasPorPagar.FirstOrDefault(c => c.CompraId == id);
		var compra = compras.FirstOrDefault(c => c.CompraId == compraId.CompraId);
		var proveedor = proveedores.FirstOrDefault(p => p.ProveedorId == compra.ProveedorId);
		return proveedor.Representante;
	}

	public int BuscarCantidadProducto(int id)
	{
		var compraId = cuentasPorPagar.FirstOrDefault(c => c.CompraId == id);
		var compra = compras.FirstOrDefault(c => c.CompraId == compraId.CompraId);

		return compra.ComprasDetalle.Count;
	}

	public decimal CalcularMontoTotal(int id)
	{
		var compraId = cuentasPorPagar.FirstOrDefault(c => c.CompraId == id);
		var compra = compras.FirstOrDefault(c => c.CompraId == compraId.CompraId);

		return compra.TotalNeto;
	}

	public decimal CalcularDeudaPendiente(Compras compra)
	{
		// var deudaTotal = compra.TotalNeto;
		// var sumaAbonos = compra.CuentasPorPagar.Sum(c => c.Abono);
		// return deudaTotal - sumaAbonos;
		return 0;
	}

	public async Task Restablecer()
	{
		cuentasPorPagar = await cuentasPorPagarService.Listar(p => p.Estado == "Pendiente");

		var Mensaje = new NotificationMessage
			{
				Severity = NotificationSeverity.Success,
				Summary = "Éxito al restablecer",
				Detail = "Los datos fueron restablecidos con éxito",
				Duration = 5_000
			};
		notificationService.Notify(Mensaje);
	}

	public async Task LimpiarPantalla()
	{
		await Task.Delay(2000);
		mensaje = string.Empty;
	}

	void Volver()
	{
		navigation.NavigateTo("/MenuPrincipal");
	}
	void IrAHistorial()
	{
		navigation.NavigateTo("/HitorialCuentasPorPagar");
	}
	void IrADetalles(int id)
	{
		navigation.NavigateTo($"/ViewCuentasPorPagar/cuentaPorPagarId={id}");
	}
	void IrAAbonar(int id)
	{
		navigation.NavigateTo($"/AbonarCuentasPorPagar/cuentaPorPagarId={id}");
	}
}