@page "/DeleteCompras"
@page "/DeleteCompras/compraId={compraId:int}"
@rendermode InteractiveServer
@inject NavigationManager navigation
@inject ProveedoresService proveedorService
@inject TiposContribuyenteService tipoContribuyenteService
@inject ContactosService contactoService
@inject ComprasService comprasService
@inject ProveedoresService proveedoresService
@inject ProductosService productosService
@inject UnidadesMedidaService unidadesMedidaService
@inject MetodosPagoService metodosPagoService
@inject NotificationService notificationService

<PageTitle>Detalles de Compra</PageTitle>
<RadzenNotification />
<div class="container">
	<div class="card shadow-lg">
		@*Header*@
		<div class="card-header">
			<h3><strong>Detalles de Compra</strong></h3>
		</div>
		@*Cuerpo*@
        <div class="card-body">
            <div class="container d-flex justify-content-center align-items-center">
                <div class="row mb-4 col-12">
                    <!-- Detalles Generales de la Compra -->
                    <div class="col-md-8">
                        <div class="col-md-11 text-center">
                            <!-- Agregamos la clase mx-auto aquí -->
                            <h3 class="text-center"><strong>Datos Generales de la Compra</strong></h3>
                            <div class="border border-primary border-2 p-3 borde">
                                <div class="card-body">
                                    <div class="row">
                                        <!-- Imagen -->
                                        <div class="col-2">
                                            <div class="text-center">
                                                <img src="Imagenes/carrito-de-supermercado.png" alt="Imagen" class="img-fluid img-thumbnail" style="width: 100px; height: auto;">
                                            </div>
                                        </div>
                                        <!-- Detalle General -->
                                        <div class="col-9">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <th>CompraId</th>
                                                        <td>@compra.CompraId</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Fecha Creación</th>
                                                        <td>@compra.FechaCreacion.ToShortDateString()</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Usuario Responsable</th>
                                                        <td>@compra.UsuarioResponsable</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Proveedor</th>
                                                        <td>@BuscarProveedor(compra.ProveedorId)</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Método de Pago</th>
                                                        <td>@BuscarMetodoPago(compra.MetodoPagoId)</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Nota</th>
                                                        <td>@compra.Nota</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body mb-3">
                <div class="row">
                    <!-- Totales -->
                    <div class="col-md-4">
                        <div class="border border-primary border-2 p-3 borde">
                            <h3 class="text-center mb-4"><strong>Totales</strong></h3>
                            <div class="card-body">
                                <!-- Subtotal -->
                                <div class="row mb-3 justify-content-center">
                                    <div class="col-6">
                                        <label class="form-label text-center"><strong>Subtotal</strong></label>
                                        <div class="input-group">
                                            <span class="input-group-text">$</span>
                                            <span id="subtotal" class="form-control">@compra.SubTotal.ToString("N2")</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Total ITBIS -->
                                <div class="row mb-3 justify-content-center">
                                    <div class="col-6">
                                        <label class="form-label"><strong>Total ITBIS</strong></label>
                                        <div class="input-group">
                                            <span class="input-group-text">$</span>
                                            <span id="totalItbis" class="form-control">@compra.TotalItbis.ToString("N2")</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Total -->
                                <div class="row mb-3 justify-content-center">
                                    <div class="col-6">
                                        <label class="form-label"><strong>Total</strong></label>
                                        <div class="input-group">
                                            <span class="input-group-text">$</span>
                                            <span id="total" class="form-control">@compra.TotalNeto.ToString("N2")</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Datos Financieros -->
                    <div class="col-md-4">
                        <div class="border border-primary border-2 p-3 mt-3 borde">
                            <h3 class="text-center mb-4"><strong>Datos Financieros</strong></h3> <!-- Ajustado el nivel de encabezado para que coincida con la sección "Totales" -->
                            <!-- Monto Pagado -->
                            <div class="row mb-3 justify-content-center">
                                <div class="col-10">
                                    <label class="form-label text-center"><strong>Monto Pagado</strong></label>
                                    <div class="input-group">
                                        <span class="input-group-text">$</span>
                                        <span id="montoPagado" class="form-control">@compra.MontoPagado.ToString("N2")</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Devuelta -->
                            <div class="row mb-3 justify-content-center">
                                <div class="col-10">
                                    <label class="form-label text-center"><strong>Devuelta</strong></label>
                                    <div class="input-group">
                                        <span class="input-group-text">$</span>
                                        <span id="devuelta" class="form-control">@compra.Devuelta.ToString("N2")</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Deuda -->
                            <div class="row mb-3 justify-content-center">
                                <div class="col-10">
                                    <label class="form-label text-center"><strong>Deuda</strong></label>
                                    <div class="input-group">
                                        <span class="input-group-text">$</span>
                                        <span id="deuda" class="form-control">@compra.Deuda.ToString("N2")</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            @*Columnas*@
            <h3 class="text-center"><strong>Lista de Productos Comprados</strong></h3>
            <div class="border border-primary border-2 p-3 borde">
                @*Table Detalles*@
                <table class="table table-bordered miTabla">
                    <thead>
                        <tr>
                            <th>Cantidad</th>
                            <th>Descripci&oacute;n</th>
                            <th>Uni. Medida</th>
                            <th>Cant. por Empaque</th>
                            <th>Costo</th>
                            <th>C/U</th>
                            <th>ITBIS</th>
                            <th>Costo Total Neto</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var detalle in compra.ComprasDetalle)
                        {
                            <tr>
                                <td>@detalle.CantidadProducto</td>
                                <td>@BuscarProducto(detalle.ProductoId)</td>
                                <td>@BuscarUnidadMedida(detalle.UnidadMedidaId)</td>
                                <td>@detalle.CantidadUnidadProducto</td>
                                <td>@detalle.CostoTotal.ToString("N2")</td>
                                <td>@detalle.CostoUnidad.ToString("N2")</td>
                                <td>@detalle.Itbis.ToString("N2")</td>
                                <td>@detalle.CostoTotalNeto.ToString("N2")</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <p><strong>Total de Productos: </strong>@compra.ComprasDetalle.Count</p>
            </div>
        </div>
		@*Footer*@
        <div class="card-footer d-flex justify-content-center">
            <div class="px-2">
                <button type="button" class="btn btn-outline-dark" @onclick="Volver"><i class="bi bi-box-arrow-left" /> Cancelar</button>
            </div>
            <button type="button" class="btn btn-outline-danger" @onclick="Eliminar"><i class="bi bi-trash3-fill" /> Eliminar</button>
        </div>
	</div>
</div>

@code {
    [Parameter]
    public int compraId { get; set; }

    public Compras compra { get; set; } = new Compras();
    public Proveedores proveedor { get; set; } = new Proveedores();
    public List<Proveedores> proveedores = new List<Proveedores>();
    public List<Productos> productos = new List<Productos>();
    public List<UnidadesMedida> unidadesMedidas = new List<UnidadesMedida>();
    public List<MetodosPago> metodosPagos = new List<MetodosPago>();

    public int tipo { get; set; }
    public string contacto { get; set; } = string.Empty;
    public string mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);

        compra = await comprasService.BuscarId(compraId);
        proveedores = await proveedoresService.Listar(p => p.Eliminado == false);
        productos = await productosService.Listar(p => p.Eliminado == false);
        unidadesMedidas = await unidadesMedidaService.Listar(um => um.UnidadMedidaId > 0);
        metodosPagos = await metodosPagoService.Listar(um => um.MetodoPagoId > 0);
    }

    public async Task Eliminar()
    {
        compra.Eliminado = true;
        //Lo que se hace aqui es que en lugar de eliminar, se cambia Eliminado a true
        //y se llama a la funcion crear para que modifique este valor
        var response = await comprasService.Crear(compra);

        if (response)
        {
            var Mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Éxito al eliminar",
                    Detail = "Se eliminó la compra con éxito",
                    Duration = 5_000
                };
            notificationService.Notify(Mensaje);

            await Task.Delay(3000);
            Volver();
        }
        else
        {
            var Mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error al eliminar",
                    Detail = "No se pudo eliminar la compra correctamente",
                    Duration = 5_000
                };
            notificationService.Notify(Mensaje);
        }
    }

    public string BuscarProducto(int id)
    {
        var producto = productos.FirstOrDefault(p => p.ProductoId == id);

        if (producto != null)
        {
            return producto.Nombre;
        }
        else
        {
            return "Nombre de producto no encontrado";
        }
    }

    public string BuscarUnidadMedida(int id)
    {
        var valor = unidadesMedidas.FirstOrDefault(u => u.UnidadMedidaId == id);

        if (valor != null)
        {
            return valor.UnidadMedida;
        }
        else
        {
            return "Unidad de medida no encontrada";
        }
    }

    public string BuscarMetodoPago(int id)
    {
        if (metodosPagos != null)
        {
            var metodo = metodosPagos.FirstOrDefault(c => c.MetodoPagoId == id);
            if (metodo != null)
            {
                return metodo.MetodoPago;
            }
        }
        return "Método de pago no encontrado";
    }

    public string BuscarProveedor(int id)
    {
        var proveedor = proveedores.FirstOrDefault(p => p.ProveedorId == id);

        if (proveedor != null)
        {
            return proveedor.Nombre;
        }
        else
        {
            return "Nombre de proveedor no encontrado";
        }
    }

	void Volver()
	{
        navigation.NavigateTo("/Compras");
	}
}
